/*
 * style.css
 * Root namespace styles
 */

/** Begin reset */
* {
  margin : 0;
  padding : 0;
  -webkit-box-sizeing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}
h1, h2, h3, h4, h5, h6, {margin-bottom : 6pt;}
ol, ul, dl {list-style-position: inside;}

* {
  -webkit-user-select : none;
  -khtml-user-select : none;
  -moz-user-select : -moz-none;
  -o-user-select : none;
  -ms-user-select : none;
  user-slect : none;

  -webkit-user-drag : none;
  -moz-user-drag : none;
  -user-drag : none;

  -webkit-tap-highlight-color : transparent;
  -webkit-touch-callout : none;
}
input, textarea, .spa-x-user-select {
  -webkit-user-select : text;
  -khtml-user-select : text;
  -moz-user-select : text;
  -o-user-select : text;
  -ms-user-select : text;
  user-select : text;
}
/** End reset */

/** Bgin standard selectors */
body {
  margin: 0;
  padding: 20px;
  font : 10px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  color : #444;
  background-color : #888;
}
a {
  text-decoration : none;}

a:link, a:visited {color : inherit;}
a:hover {text-decoration:underline;}

strong {
  font-weight : 800;
  color : #000;
}
/** End standard selectors */
.container
{
  width: 800px;
  margin: 0 auto;
}

#viewscreen {
  position: relative;
  width: 320px;
  height: 240px;
  margin: 0 auto;
  border: solid;
}
#stream {
  height: 99%;
  margin: 0px auto;
  display: block;
  margin-top: 0px;
  max-width: 100%;
  max-height: 100%;
}
.controllerContainer
{
  display: table;
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center; /* this will center the in-block divs */
}
.controllerContainer .buttonRow{
  display: table-row;
}
.controllerContainer .buttonCell{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 20px;
}
.buttonRow.infoRow .buttonCell{
  height: 80px;
  margin: 10px;
}
.controllerContainer label {
  font-size: x-large;
  font-weight:bold;
}

/* this is the style of an uncheked "button" */
.controllerContainer .input-check{
  display:inline-block;
  border-radius: 50%;

  padding:5px 8px;
  background:green;
  width: 150px;
  height: 150px;
  color: white;
  text-align: center;
  line-height: 150px;
}
/* This is the style for a checked "button" */
.controllerContainer .input-check.checked{
  background:red;
  color:black;
}
.controllerContainer .infoLabel{
  width: 100px;
  height: 80px;
  color: white;
  text-align: center;
  line-height: 60px;
}

.footer {
  position: relative;
  height: 80px;
  margin: 10px;
}
.footer label{
  color: white;
  font-size: large;
}
.footer .info{
  float: left;
  width: 300px;
  height: 100%;
}
.footer .user{
  float: right;
  width: 250px;
  height: 100%;
  margin: 2px;
  padding: 2px;
}
#username{
  float: left;
  padding: 5px;
  width: 120px;
  height: 40px;
}
#start{
  position: relative;
  padding: 5px;
  left: 10px;
  width: 120px;
  height: 40px;
}