/*
 * style.css
 * Root namespace styles
 */

/** Begin reset */
* {
  margin : 0;
  padding : 0;
  -webkit-box-sizeing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}
h1, h2, h3, h4, h5, h6, {margin-bottom : 6pt;}
ol, ul, dl {list-style-position: inside;}

* {
  -webkit-user-select : none;
  -khtml-user-select : none;
  -moz-user-select : -moz-none;
  -o-user-select : none;
  -ms-user-select : none;
  user-slect : none;

  -webkit-user-drag : none;
  -moz-user-drag : none;
  -user-drag : none;

  -webkit-tap-highlight-color : transparent;
  -webkit-touch-callout : none;
}
input, textarea, .spa-x-user-select {
  -webkit-user-select : text;
  -khtml-user-select : text;
  -moz-user-select : text;
  -o-user-select : text;
  -ms-user-select : text;
  user-select : text;
}
/** End reset */

/** Bgin standard selectors */
body {
  margin: 0;
  padding: 20px;
  font : 10px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  color : #444;
  background-color : #888;
}
a {
  text-decoration : none;
a:link, a:visited {color : inherit;}
a:hover {text-decoration:underline;}
}
strong {
  font-weight : 800;
  color : #000;
}
/** End standard selectors */
.container
{
  width: 800px;
  margin: 0 auto;
}

#viewscreen {
  position: relative;
  height: 400px;
  margin: 0 auto;
  border: solid;
}

/*
Draw a controller using css
see: http://maxdesign.com.au/articles/remote/
*/
#controller {
  position: relative;
  width: 224px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
}

#controller span
{
  position: absolute;
  left: -5000px;
}

#controller ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#back a,
#forward a,
#top a,
#bottom a,
#ok a
{
  position: absolute;
  display: block;
}

#controller li#back a
{
  width: 25px;
  height: 59px;
  left: 58px;
  top: 35px;
  background: url(../img/controller.jpg) no-repeat -17px -53px;
}

#controller li#forward a
{
  width: 23px;
  height: 59px;
  left: 139px;
  top: 35px;
  background: url(../img/controller.jpg) no-repeat -98px -53px;
}

#controller li#top a
{
  width: 62px;
  height: 23px;
  left: 80px;
  top: 12px;
  background: url(../img/controller.jpg) no-repeat -39px -30px;
}

#controller li#bottom a
{
  width: 61px;
  height: 22px;
  left: 80px;
  top: 94px;
  background: url(../img/controller.jpg) no-repeat -39px -112px;
}

#controller li#ok a
{
  width: 44px;
  height: 46px;
  left: 89px;
  top: 41px;
  background: url(../img/controller.jpg) no-repeat -48px -59px;
}

#controller li#back a:hover { background: url(../img/controller.jpg) no-repeat -17px -191px; }
#controller li#forward a:hover { background: url(../img/controller.jpg) no-repeat -98px -191px; }
#controller li#top a:hover { background: url(../img/controller.jpg) no-repeat -39px -168px; }
#controller li#bottom a:hover { background: url(../img/controller.jpg) no-repeat -39px -250px; }
#controller li#ok a:hover { background: url(../img/controller.jpg) no-repeat -48px -197px; }

#footer {
  position: relative;
  height: 80px;
  margin: 10px;
}
#info{
  float: left;
  width: 300px;
  height: 50px;
}
#user{
  float: right;
  width: 150px;
  height: 50px;
  margin: 2px;
  padding: 2px;
}
#username{
  padding: 5px;
  width: 100%;
}
#start{
  padding: 5px;
  width: 100%;
}